@use '../../utils/variables.scss' as vars;
section {
  width: 100%;
  height: calc(100vh - 100px);

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 70%;
    min-height: 350px;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    background-color: white;
    border-radius: vars.$radius;
    box-shadow: vars.$shadow;

    h3 {
      font-size: 100px;
      color: rgb(207, 201, 201);
      font-weight: 300;
      font-family: vars.$number-font;
    }

    button {
      margin-bottom: 20px;
      background-color: vars.$red;
      color: white;
      border-radius: vars.$radius;
    }

    p {
      padding: 20px;
      text-align: center;
    }
  }
}
