$red: rgb(245, 60, 60);
$pink: rgb(236, 128, 146);
$yellow: #fbce71;
$main-font: 'Cormorant Infant', serif;
$accent-font: 'Pacifico', serif;
$number-font: 'Monsieur La Doulaise', serif;
$shadow: 13px 4px 20px rgb(238, 35, 35);
$radius: 20px;
